[buildout]
parts =
    lxml
    instance
    zopepy
    test
    omelette
    write_code_headers
    update_sources

extends =
    http://dist.plone.org/release/4.3.18/versions.cfg

find-links =
    http://dist.plone.org/release/4.3.18
    http://dist.plone.org/thirdparty

eggs =
    Plone
    Pillow
    plone.reload
    senaite.core
    senaite.lims
    senaite.api
    senaite.databox
    senaite.core.supermodel

zcml =

versions = versions
extensions = mr.developer

eggs-directory = ${buildout:directory}/eggs
download-cache = ${buildout:directory}/downloads

sources = sources
auto-checkout = *

develop = .

[sources]
senaite.api = git git://github.com/senaite/senaite.api.git pushurl=git@github.com:senaite/senaite.api.git branch=master
senaite.core = git git://github.com/senaite/senaite.core.git pushurl=git@github.com:senaite/senaite.core.git branch=master
senaite.core.supermodel = git git://github.com/senaite/senaite.core.supermodel.git pushurl=git@github.com:senaite/senaite.core.supermodel.git branch=master
senaite.core.listing = git git://github.com/senaite/senaite.core.listing.git pushurl=git@github.com:senaite/senaite.core.listing.git branch=master
senaite.impress = git git://github.com/senaite/senaite.impress.git pushurl=git@github.com:senaite/senaite.impress.git branch=master
senaite.jsonapi = git git://github.com/senaite/senaite.jsonapi.git pushurl=git@github.com:senaite/senaite.jsonapi.git branch=master
senaite.lims = git git://github.com/senaite/senaite.lims.git pushurl=git@github.com:senaite/senaite.lims.git branch=master

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml==4.2.1
force = false
static-build = true

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 127.0.0.1:8080
eggs =
    senaite.databox
    ${buildout:eggs}
zcml =
    senaite.databox
    ${buildout:zcml}
environment-vars =
    zope_i18n_compile_mo_files true

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[test]
recipe = zc.recipe.testrunner
eggs =
    senaite.databox [test]
defaults = ['--auto-color', '--auto-progress']

[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}

[write_code_headers]
recipe = collective.recipe.template
output = ${buildout:directory}/bin/write_code_headers
input = ${buildout:directory}/templates/write_code_headers.py.in
mode = 755

[update_sources]
recipe = collective.recipe.template
output = ${buildout:directory}/bin/update_sources
input = ${buildout:directory}/templates/update_sources.in
mode = 755

[versions]
setuptools =
zc.buildout =
